/* Output page */
div#output
{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	background-color: #99ccff
}

td.name
{

}

td.value
{
	background-color: #33cc66;
	text-align: center;
}

td.tip
{

}

/* Input page */

form#input
{
	background-color: #99ccff;
	width: 80%;
	margin: 0 auto;
}

/* Label can't have width set directly,
   so we must make it a floating block */
label.data
{
	display: block;
	float: left;
	width: 150px;
	clear: both;
	margin-left: 10px;
}

div#title
{
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-align:center;
}

body
{
	background-color: #6699cc;
}